<AuthorizeView>
    <Authorized>
        <span class="text-info">Hi, @context.User.Identity.Name</span>
        <a href="Identity/Account/Logout">Logout</a>

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Login</a>

    </NotAuthorized>
</AuthorizeView>


@code {

}
