<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-dark" href="/"><img src="/images//nubex_logo.png" class="w-100 p-0 mb-2 align-content-center" /></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
         
        <AuthorizeView Roles="@roleAdmin">
        <Authorized>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/category">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Category
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/product">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/orderlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/swagger/index.html">
                <span class="oi oi-info" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>
        </Authorized>
        <NotAuthorized>
            <div class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Register">
                <span class="oi oi-target" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        </NotAuthorized>
        </AuthorizeView>
        
        
       
    </nav>
</div>

@code {
    private string roleAdmin = SD.Role_Admin;


    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
