<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="ntext navbar-brand " href="">Nubex Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class=" @NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Category">
                <span class="oi oi-list" aria-hidden="true"></span> Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Product">
                <span class="oi oi-list" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Product/Detail">
                <span class="oi oi-list" aria-hidden="true"></span> Product Detail User
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/allproducts">
                <span class="oi oi-list" aria-hidden="true"></span> All Products User
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cart">
                <span class="oi oi-list" aria-hidden="true"></span> Cart User
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SignIn">
                <span class="oi oi-list" aria-hidden="true"></span> Log In User
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/orderdetail">
                <span class="oi oi-list" aria-hidden="true"></span> Order Detail User
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
