@using Syncfusion.Blazor.Cards
<div class="row">
    <div class="col-2 m-3">
        <SfCard ID="HugeImage">
            <CardHeader Title="Laura Callahan" SubTitle="Sales Coordinator " ImageUrl="images/cards/football.png" />
        </SfCard>
        <SfCard ID="SecondCard">
            <CardContent Content="Laura received."  />
        </SfCard>
    </div>
    <div class="col-2 m-3">
        <SfCard ID="HugeImage">
            <CardHeader Title="Laura Callahan" SubTitle="Sales Coordinator " ImageUrl="images/cards/football.png" />
        </SfCard>
        <SfCard ID="SecondCard">
            <CardContent Content="Laura received." />
        </SfCard>
    </div>
    <div class="col-2 m-3">
        <SfCard ID="HugeImage">
            <CardHeader Title="Laura Callahan" SubTitle="Sales Coordinator " ImageUrl="images/cards/football.png" />
        </SfCard>
        <SfCard ID="SecondCard">
            <CardContent Content="Laura received." />
        </SfCard>
    </div>
    <div class="col-2 m-3">
        <SfCard ID="HugeImage">
            <CardHeader Title="Laura Callahan" SubTitle="Sales Coordinator " ImageUrl="images/cards/football.png" />
        </SfCard>
        <SfCard ID="SecondCard">
            <CardContent Content="Laura received." />
        </SfCard>
    </div>
    <div class="col-2 m-3">
        <SfCard ID="HugeImage">
            <CardHeader Title="Laura Callahan" SubTitle="Sales Coordinator " ImageUrl="images/cards/football.png" />
        </SfCard>
        <SfCard ID="SecondCard">
            <CardContent Content="Laura received." />
        </SfCard>
    </div>
</div>
@code {

}
