@page "/"

<PageTitle>Home</PageTitle>
<div class="row pt-4 mb-2">
    <SyncCarousel></SyncCarousel>
</div>
<div class="pt-3 mb-2">
    <center> Higlights Product</center>
</div>

        <SyncCard></SyncCard>

This is nubex website using Blazor Server without Identity
<SurveyPrompt Title="How is Blazor working for you?" />


@code {

}