@page "/"

<PageTitle>Home</PageTitle>
<div class="row pt-4 mb-2">
    <SyncCarousel></SyncCarousel>
</div>
<div class="pt-3 mb-2">
    <center><h3>Product Highlight </h3></center>
</div>

        <SyncCard></SyncCard>

<hr />
<hr />

<center><h3 class="justify-content-center">Latest Product Added</h3></center>
<hr />
......


@code {

}